#btn-container {
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: 0.5s;
}
#card-container {
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: 0.5s;
}
#btn {
    width: 101%;
    height: 100%;
    mask: url("/images/buttons/animation-bg-white.png");
    /* https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png */
    mask-size: 2300% 100%;
    border: none;
    cursor: pointer;
    animation: ani2 0.7s steps(22) forwards;
}
#btn:hover {
    animation: ani 0.7s steps(22) forwards;
}

#btn2 {
    width: 101%;
    height: 100%;
    mask: url("/images/buttons/animation-bg-black.png");
    /* https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png */
    mask-size: 2300% 100%;
    border: none;
    cursor: pointer;
    animation: ani2 0.7s steps(22) forwards;
}
#btn2:hover {
    animation: ani 0.7s steps(22) forwards;
}

#mas {
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 101%;
    position: absolute;
    overflow: hidden;
    font-weight: bold;
}
#card-mas {
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 101%;
    position: absolute;
    overflow: hidden;
    font-weight: bold;
}

@keyframes ani {
    from {
        mask-position: 0 0;
    }
    to {
        mask-position: 100% 0;
    }
}

@keyframes ani2 {
    from {
        mask-position: 100% 0;
    }
    to {
        mask-position: 0 0;
    }
}

@keyframes ani3 {
    from {
        mask-position: 100% 0;
    }
    to {
        mask-position: 0% 0;
    }
}

@keyframes ani4 {
    from {
        mask-position: 0 0;
    }
    to {
        mask-position: 100% 0;
    }
}